<form class="form-inline">
  <div class="form-group" style="width: 100%;">
    <div class="input-group" style="width: 100%;">
      <div class="input-group-append">
        <button #buttonEl class="btn btn-outline-secondary fa fa-calendar" (click)="d.toggle()" type="button"
          [disabled]="isDisabled || readonly"></button>
      </div>
      <input dir="ltr" dateFormatValidator class="form-control" [readonly]="readonly" [placeholder]="placeholder"
        name="dp" (dateSelect)="onDateSelect($event)" [placement]="placement" [positionTarget]="d" [ngModel]="date"
        (ngModelChange)="valuechange($event)" [firstDayOfWeek]="6" ngbDatepicker [disabled]="isDisabled"
        [dayTemplate]="customDay" [footerTemplate]="footerTemplate" #d="ngbDatepicker">
    </div>
  </div>
</form>

<ng-template #customDay let-date let-currentMonth="currentMonth" let-selected="selected" let-disabled="disabled"
  let-focused="focused">
  <span class="custom-day" [class.weekend]="isWeekend(date)" [class.focused]="focused" [class.bg-info]="selected"
    [class.hidden]="date.month !== currentMonth" [class.text-muted]="disabled">
    {{ date.day }}
  </span>
</ng-template>

<ng-template #footerTemplate>
  <hr class="my-0">
  <button type="button" class="btn btn-primary btn-sm m-2 float-left" (click)="onToday(); d.close()">امروز</button>
  <button type="button" class="btn btn-secondary btn-sm m-2 float-right" (click)="d.close()">بستن</button>
</ng-template>
