<p-dialog [(visible)]="display" [style]="{width: '40vw'}">
  <p-header>
    {{('action.add' | translate) + ' ' + ('expertPerson.expertPerson' | translate)}}
  </p-header>

  <p-table #dt [value]="expertPeople" [autoLayout]="true" dataKey="id" selectionMode="single"
           [(selection)]="selectedExpertPeople" [columns]="cols" styleClass="ui-table-expertPeople" [rowHover]="true"
           [rows]="10" [columns]="cols" (onRowSelect)="onRowSelect($event)" [rowsPerPageOptions]="[10,25,50]"
           [loading]="loading" [paginator]="true" [showCurrentPageReport]="true" [filterDelay]="0"
           [globalFilterFields]="['nationalCode', 'firstName', 'lastName']"
           (onFilter)="utils.filterTree($event)"
           currentPageReportTemplate="مشاهده ورودی های {first} تا {last} از {totalRecords}">

    <ng-template pTemplate="caption">
      <div class="ui-table-globalfilter-container">
        <input type="text" pInputText placeholder="{{'action.search' | translate}}"
               (input)="dt.filterGlobal($event.target.value, 'contains')">
      </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" scope="col">
          {{col.header}}
        </th>
        <th scope="col"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns; let i = index">
          {{rowData[col.field]}}
        </td>
        <td>
          <button (click)="onAddRow(rowData)" pButton type="button" class="ui-button-primary float-left"
                  icon="fa fa-check" pTooltip="{{'action.select' | translate}}" tooltipPosition="top"></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8" style="text-align:center">{{'message.noData' | translate }}
        </td>
      </tr>
    </ng-template>

  </p-table>

  <p-footer>
    <button pButton type="button" (click)="onAdd()" [disabled]="!selectedExpertPeople"
            label="{{'action.select' | translate}}" icon="pi pi-check" iconPos="right"
            class="ui-button-raised ui-button-primary"></button>
    <button pButton type="button" (click)="onBack()" label="{{'action.cancel' | translate}}"
            class="ui-button-raised ui-button-secondary">
    </button>
  </p-footer>
</p-dialog>
