<div class="row my-2">
  <div class="col-md-12">
    <h4>{{'regulations.certificate.status' | translate }}</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p-table #dt [value]="statusList" [autoLayout]="true" dataKey="id" selectionMode="single"
      [(selection)]="selectedStatusList" [columns]="cols" styleClass="ui-table-statuses" [rowHover]="true" [rows]="10"
      [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [paginator]="true" [showCurrentPageReport]="true"
      [filterDelay]="0" [globalFilterFields]="['statusId', 'description']"
      currentPageReportTemplate="مشاهده ورودی های {first} تا {last} از {totalRecords}">

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th scope="col"></th>
          <ng-container *ngFor="let col of columns">
            <th scope="col">
              {{col.header}}
            </th>
          </ng-container>
          <th scope="col"></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [ngClass]="{'text-warning' : rowData.inactive}">
          <td>
            <p-menu #menu [popup]="true" [model]="getMenuItems(rowData)" appendTo="body">
            </p-menu>
            <button pButton icon="pi pi-bars" (click)="menu.toggle($event)" class="ui-button-secondary"></button>
          </td>

          <ng-container *ngFor="let col of columns; let i = index">
            <td [ngSwitch]="col.field">
              <span *ngSwitchCase="'startDate'">
                {{rowData[col.field] | persianDate:'shortDate'}}
              </span>
              <span *ngSwitchCase="'endDate'">
                {{rowData[col.field] | persianDate:'shortDate'}}
              </span>
              <span *ngSwitchDefault>
                {{rowData[col.field]}}
              </span>
            </td>
          </ng-container>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8" style="text-align:center">{{'message.noData' | translate }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<br />
<div class="row">
  <!--  <div class="col">-->
  <button pButton type="button" (click)="onBack()" label="{{'action.back' | translate}}"
          class="ui-button-raised ui-button-secondary mr-2 col-md-2">
  </button>
  <!--  </div>-->
</div>

