<div class="row">
    <div class="col-md-12">
      <h4>{{orgUnit.displayName}}</h4>
    </div>
  </div>
  
  <hr />
  
  <!-- <div class="row" *ngIf="orgUnit.parentId" style="direction: rtl;">
    <div class="col-md-12">
      <div class="form-group row">
        <label for="name" class="col-md-2 col-form-label ">نام کاربران:</label>
        <div class="col-md-9">
          <p>
            <span *ngFor="let item of orgUnit.users">{{item.name+" "+ item.surname}},</span>
          </p>
          
        </div>
      </div>
      <div class="form-group row">
        <label for="name" class="col-md-2 col-form-label ">نام نقش ها:</label>
        <div class="col-md-9">
          <p>
            <span *ngFor="let item of orgUnit.roles">{{item.name}},</span>
          </p>
          
        </div>
      </div>
    </div>
  </div> -->