<div class="row" style="height:650px;direction: rtl;text-align: right;">
    <div class="col-md-3" style="border-left: 1px solid #868686;">

        <div class="col-md-12 form-group ui-fluid">
            <!-- <label>{{ 'Cartable::Receivers' | translate }}</label> -->
            <p-dropdown  [options]="charts" [(ngModel)]="chartSelected" optionLabel="createDate" placeholder="ورژن مورد نظر را انتخاب کنید" [showClear]="true"
                defaultLabel="چارت ها"></p-dropdown >
        </div>
        
            <div class="col-md-12  form-group ui-fluid">
                <!-- <button pButton [disabled]="!postsSelected||postsSelected==''" (click)="onSubmit()" -->
                <button pButton (click)="loadData()"
                    label="مشاهده" icon="pi pi-send" iconPos="right"
                    class="ui-button-raised ui-button-success"></button>
            </div>
    </div>
    <div class="col-md-9">

        <div id="historytree"></div>
    </div>
</div>