<div class="row">
    <div class="col-md-12">
        <h5>{{fullName}}</h5>
        <hr />
    </div>
</div>
<label for="relation"><span>وضعیت گواهینامه</span>
</label>
<div class="row form-group ui-fluid">
    <div class="col">
        <p-radioButton name="relation" (onClick)="hasCer(false)" value="0" label="درخواست کارگاه"
            [(ngModel)]="hasCertificate" inputId="relation1">
        </p-radioButton>
        <p-radioButton name="relation" (onClick)="hasCer(true)" value="1" label="گواهینامه دارد"
            [(ngModel)]="hasCertificate" inputId="relation2" styleClass="mr-2">
        </p-radioButton>
    </div>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <fieldset>
        <div *ngIf="isCertificate">
            <div class="row" style="align-items: flex-end;">
                <div class="col-md-6 form-group ui-fluid">
                    <label for="certificateNO">شماره گواهینامه<span class="text-danger mr-2">*</span></label>                    
                    <input id="certificateNO" type="text" pInputText class="ui-fluid" formControlName="certificateNO"
                        class="form-control">
                </div>  
                
                <div class="col-sm-6 form-group">
                    <div class="ui-inputgroup d-inline">
                        <label pButton type="button" icon="pi pi-plus" iconPos="right" class="ui-button-primary"
                            label="فایل گواهینامه">
                            <input type="file" single (change)="onUpload($event)" class="d-none">
                        </label>
                        <button *ngIf="attachmentFile" (click)="onRemoveUpload()" pButton type="button" icon="pi pi-times"
                            class="ui-button-danger"></button>
                    </div>
                    <span class="text-danger mr-2">*</span>
                    <a href="javascript:;" (click)="appFileManager.openFile(attachmentFile)"
                        class="mr-2">{{attachmentFile?.name}}</a>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-6 form-group ui-fluid">
                    <label for="accomplishmentDate">تاریخ دریافت <span class="text-danger mr-2">*</span></label>
                    <app-datepicker-popup-jalali id="accomplishmentDate" [placement]="placement"
                        formControlName="accomplishmentDate" class="w-100">
                    </app-datepicker-popup-jalali>
                </div>
                <div class="col-sm-6 form-group ui-fluid">
                    <label for="expireDate">تاریخ انقضاء <span class="text-danger mr-2">*</span></label>
                    <app-datepicker-popup-jalali id="expireDate" [placement]="placement" formControlName="expireDate"
                        class="w-100">
                    </app-datepicker-popup-jalali>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 form-group ui-fluid">
                <label for="description">
                    توضیحات
                </label>
                <textarea id="description" formControlName="description" [rows]="3" pInputTextarea [placeholder]="">
            </textarea>
            </div>

        </div>
    </fieldset>
    <div class="row">
        <div class="col-md-12">


            <button pButton type="submit" label="ذخیره" [disabled]="this.form.invalid"
                class="ui-button-raised ui-button-success col-md-2  mr-2"></button>

            <button pButton type="button" label="بازگشت" (click)="onBack()" class="ui-button-raised ui-button-secondary mr-2 col-md-2">
            </button>
        </div>
    </div>
</form>