:host::ng-deep {
  .ui-dialog .ui-dialog-content {
    overflow: hidden;
  }

  .ui-tree {
    height: 60vh;
  }
}
.radio-button-class {
  margin-left: 25px;
}
.radio-label-class {
  margin-right: 10px;
}
.radio-button-row-class {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
}
