<div class="row my-2">
  <div class="col-md-12">
    <h4>{{'regulations.title' | translate }}</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p-table #dt [value]="regulations" [autoLayout]="true" dataKey="id"
             [(selection)]="selectedRegulation" [columns]="cols" styleClass="ui-table-regulations"
             [rowHover]="true" [rows]="10" [loading]="loading" [showCurrentPageReport]="true">

      <ng-template pTemplate="caption">
        <div class="ui-table-globalfilter-container">
          <input type="text" pInputText placeholder="{{'action.search' | translate}}"
                 (input)="filterGlobal($event.target.value)">

          <button pButton type="button" icon="fa fa-plus"
                  class="ui-button-success float-right" (click)="onCreate()"
                  pTooltip="{{'action.add' | translate }}" tooltipPosition="top"></button>
        </div>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th scope="col"></th>
          <ng-container *ngFor="let col of columns">
            <th scope="col">
              {{col.header}}
            </th>
          </ng-container>
          <th scope="col"></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [ngClass]="{'text-warning' : rowData.inactive}">
          <td>
            <p-menu #menu [popup]="true" [model]="getMenuItems(rowData)" appendTo="body">
            </p-menu>
            <button pButton icon="pi pi-bars" (click)="menu.toggle($event)"
                    class="ui-button-secondary"></button>
          </td>

          <ng-container *ngFor="let col of columns; let i = index">
            <td [ngSwitch]="col.field">
              <span *ngSwitchCase="'creationDate'">
                  {{rowData[col.field] | persianDate:'shortDate'}}
              </span>
              <span *ngSwitchCase="'producer'">
                {{ rowData[col.field] }}
<!--                    {{ getProducerId(rowData[col.field]) }}-->
              </span>
              <span *ngSwitchCase="'notifyAttachment'">
                <button pButton icon="pi pi-download" *ngIf="rowData.notifyProgramYear" (click)="downloadAttach(rowData)"
                        class="ui-button-raised ml-1"></button>
              </span>
              <span *ngSwitchDefault>
              {{rowData[col.field]}}
            </span>
            </td>
          </ng-container>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8" style="text-align:center">{{'message.noData' | translate }}
          </td>
        </tr>
      </ng-template>
    </p-table>
    <p-paginator [rows]="rows" [totalRecords]="totalRecords" [rowsPerPageOptions]="[10,20,30]"
                 (onPageChange)="onPageChange($event)" dropdownAppendTo="body"
                 currentPageReportTemplate="مشاهده ورودی های {first} تا {last} از {totalRecords}"></p-paginator>
  </div>
</div>

<app-accept #accept_modal (accept)="delete($event)"></app-accept>
