<p-dialog [(visible)]="visible" (onHide)="hide()" class="overflow-hide" [maximizable]="false" [style]="{width: '80vw'}">
  <p-header>
    {{('action.assign' | translate) + ' ' + ('policy.policy' | translate)}}
  </p-header>
  <div class="row">
    <div class="col-sm-4 form-group ui-fluid">
      <app-org-unit-tree (onNodeSelect)="nodeSelect($event)"></app-org-unit-tree>
    </div>
    <div class="col-sm-8 form-group">
      <p-table #dt
               [value]="policies"
               [autoLayout]="true"
               dataKey="id"
               selectionMode="checkbox"
               [(selection)]="setPolicySetModel.policySet"
               [columns]="cols"
               styleClass="ui-table-policy"
               [rowHover]="true"
               (onFilter)="utils.filterTree($event)"
               [rows]="10"
               [rowsPerPageOptions]="[10,25,50]"
               [loading]="loading"
               [paginator]="true"
               [showCurrentPageReport]="true"
               [filterDelay]="0"
               [globalFilterFields]="['name']"
               currentPageReportTemplate="مشاهده ورودی های {first} تا {last} از {totalRecords}">
        <ng-template pTemplate="caption">
          <div class="ui-table-globalfilter-container">
            <input type="text" pInputText placeholder="{{'action.search' | translate}}"
                   (input)="dt.filterGlobal($event.target.value, 'contains')">
          </div>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
          <tr>
            <th scope="col">#</th>
            <th scope="col" style="width: 3em">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th scope="col" *ngFor="let col of columns">
              {{col.header}}
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
          <tr>
            <td>
              {{rowIndex + 1}}
            </td>
            <td>
              <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <ng-container *ngFor="let col of columns; let i = index">
              <td [ngSwitch]="col.field">
                            <span *ngSwitchCase="'isActive'">
                                <span *ngIf="rowData[col.field] == true" class="text-success ml-2">{{'action.active' |
                                  translate}}</span>
                                <span *ngIf="rowData[col.field] == true" class="pi pi-check text-success"></span>
                                <span *ngIf="rowData[col.field] == false" class="text-danger ml-2">{{'action.inactive' |
                                  translate}}</span>
                                <span *ngIf="rowData[col.field] == false" class="pi pi-times text-danger"></span>
                            </span>
                <span *ngSwitchCase="'lastEditDate'">
                                {{rowData[col.field] | persianDate:'shortDate'}}
                            </span>
                <span *ngSwitchDefault>
                                {{rowData[col.field]}}
                            </span>
              </td>
            </ng-container>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8" style="text-align:center">{{'message.noData' | translate }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <p-footer>
    <button (click)="submit()" pButton type="button"
            label="{{'action.create' | translate}}"
            icon="pi pi-plus"
            iconPos="right"
            class="ui-button-raised ui-button-success"></button>
    <button pButton type="button" (click)="onBack()" label="{{'action.cancel' | translate}}"
            class="ui-button-raised ui-button-secondary">
    </button>
  </p-footer>
</p-dialog>
