<!-- <div class="row">
  <div class="col-md-12">
    <button pButton type="button" icon="fa fa-list" pTooltip="درخت" tooltipPosition="top"
      class="ui-button-secondary float-left mr-1" [ngClass]="{'ui-button-info' : isTree}" (click)="showTree()"></button>
    <button pButton type="button" icon="fa fa-bar-chart" pTooltip="چارت" tooltipPosition="top"
      class="ui-button-secondary float-left" [ngClass]="{'ui-button-info' : !isTree}" (click)="showChart()"></button>
  </div>
</div>
<hr /> -->
<router-outlet> </router-outlet>