<div class="ui-inputgroup">
    <p-dropdown [options]="defaultTexts" [(ngModel)]="selectedDefaultText" placeholder="متن پیش فرض" optionLabel="text"
        [showClear]="true" (onChange)="onChangeValue()"></p-dropdown>
    <button pButton type="button" icon="fa fa-plus" pTooltip="{{'cartable.compose' | translate }}" tooltipPosition="top"
        (click)="create()" class="ui-button-success"></button>
    <button pButton type="button" icon="fa fa-trash" pTooltip="{{'cartable.delete' | translate }}" tooltipPosition="top"
        (click)="delete()" class="ui-button-danger"></button>
</div>