<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <fieldset>
    <legend class="my-2">{{editMode ? ('action.edit' | translate) + ' ' + entityType?.persianName :
            ('person.createPageTitle' | translate)}}</legend>
    <div class="row">
      <div class="col-sm-6 form-group ui-fluid" [ngClass]="{ 'has-danger' : isInvalid('name') }">
        <label for="name">
          {{'entityType.name' | translate}}
          <span class="text-danger mr-2">*</span>
        </label>
        <input id="name" type="text" pInputText formControlName="name" [placeholder]=""
          [ngClass]="{ 'is-invalid' : isInvalid('name') }">
        <div *ngIf="name?.errors?.required" class="invalid-feedback">
          {{'message.required' | translate}}
        </div>
      </div>
      <div class="col-sm-6 form-group ui-fluid" [ngClass]="{ 'has-danger' : isInvalid('persianName') }">
        <label for="persianName">
          {{'entityType.persianName' | translate}}
          <span class="text-danger mr-2">*</span>
        </label>
        <input id="persianName" type="text" pInputText formControlName="persianName" [placeholder]=""
          [ngClass]="{ 'is-invalid' : isInvalid('persianName') }">
        <div *ngIf="persianName?.errors?.required" class="invalid-feedback">
          {{'message.required' | translate}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 form-group ui-fluid" [ngClass]="{ 'has-danger' : isInvalid('fields') }">
        <div class="ui-table-globalfilter-container">
          <button pButton type="button" icon="fa fa-plus" class="ui-button-success  float-right"
            (click)="onCreatefields()"
            pTooltip="{{('action.add' | translate) + ' ' + ('entityType.fields' | translate)}}"
            tooltipPosition="top"></button>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p-table #dt [value]="entityType?.fields" [columns]="cols">

          <ng-template pTemplate="header" let-columns>
            <tr>
              <th scope="col"></th>
              <th scope="col" *ngFor="let col of columns">
                {{col.header}}
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td>
                    <p-menu #menu [popup]="true" [model]="getMenuItems(rowData)" appendTo="body">
                    </p-menu>
                    <button pButton icon="pi pi-bars" (click)="menu.toggle($event)"
                        class="ui-button-secondary"></button>
                </td>
                <td *ngFor="let col of columns; let i = index">
                    {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>

        </p-table>
      </div>
    </div>
  </fieldset>
</form>




<p-toast [style]="{marginTop: '50px'}" life="9000" position="top-left" key="tl"></p-toast>
<app-entity-field-modal [GetFieldFromTable]='field' (AddfieldToTable)='Getfield($event)' [(display)]='fieldsDialog' headerDisplay="{{persianName.value}}">
</app-entity-field-modal>

<app-accept #accept_modal (accept)="delete($event)"></app-accept>
