<ngb-datepicker #dp style="width: 100%;" (dateSelect)="onDateSelection($event)" [firstDayOfWeek]="6" [displayMonths]="2"
    [dayTemplate]="t" outsideDays="hidden">
</ngb-datepicker>

<ng-template #t let-date let-focused="focused">
    <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
        [class.faded]="isHovered(date) || isInside(date)" [class.weekend]="isWeekend(date)" (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null">
        {{ date.day }}
    </span>
</ng-template>

<!-- <hr>

<pre>From: {{ fromDate | json }} </pre>
<pre>To: {{ toDate | json }} </pre> -->